body{
    overflow-x: hidden;
    padding: 5px 100px;
}

header{
    width:100%;
    z-index:100;
}

.navbar {
    vertical-align:middle;
    padding: 0px 50px 0px 0px;
}

.navbar-item {
    font-size: 16px;
    margin:10px 20px;
    color: #446E9B;
    cursor: pointer;
    display: inline-block;
}

aside {
    width: 15%;
}

main {
    width: 70%;
}

.navbar-account-item {
    margin-top:15px;
}

#navbar-brand-id {
    font-weight: bold;
    font-size: 20px;
}

.left {
    float: left;
    margin: 0px 25px;
}

h1, h2, h3, h4 {
    color: #446E9B;
    margin: 5px;
}

li {
    list-style-type: none;
}

.btn-circle{
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.428571429;
    border-radius: 100%;
    background-color: #1489F0;
}

.hidden {
    display: none;
}

.bold{
    font-weight: bold;
}