span {
    display: inline-block;
    margin: 5px 0px;
}

.item-info {
    color: black;
    font-size: 16px;
}

.gallery-item-holder {
    width: 70%;
    margin: 5px;
    padding: 5px;
}

.item-img-single {
    max-width:100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}