@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="text-align:center">
    <h1 class="text-danger">There is a problem with the server...</h1>
    <img src="~/Content/images/error.jpg" alt="No image" />
    <h2 class="text-danger">... but someone is fixing it.</h2>
</div>   


