@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/home.css")

<div id="background-holder">
    <!--<h1>THIS IS DEPLOYED IN AZURE AND APPHARBOR</h1>-->
    <img src="~/Content/images/background.jpg" alt="No image" />
</div>
